:root {
    --white: #fff;
    --light-green: #89ba77;
    --dark-green: #1f7300;
    --dark-red: #73001f;
    --light-red: #fa5252;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Calibri", "DM Sans", sans-serif;
}


/* --- FONT SIZE --- */

h3 {
    font-size: 2.3rem;
    padding-top: 1rem;
    font-family: "Tahoma", sans-serif;
}

li,
p {
    font-size: 2rem;
    padding: .2rem;
}


/* ---- */

body {
    min-width: 280px;
}

header,
footer {
    background-color: var(--light-green);
    text-align: right;
}

.header-logo {
    text-align: center;
}

.logo {
    height: 100px;
    width: 250px;
}

.header-menu {
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: center;
    background-color: var(--dark-green);
    min-height: 60px;
    vertical-align: middle;
}

.header-menu div {
    min-width: 80%;
    max-height: 80px;
}

.header-menu div input,
.header-menu div a {
    align-items: center;
    min-width: 90px;
}

.menu-buttons {
    margin: 2px;
    align-items: center;
    background-color: var(--light-green);
    color: var(--white);
    border-color: var(--dark-red);
    border-radius: 30px;
    font-size: 1.7rem;
    padding: 0.6% 3%;
}

main div {
    padding: 1%;
}


/* ---------------- */

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: auto;
    padding: 0.5%;
}

.recipe-detail--card,
.product-detail--card {
    width: 100%;
    min-width: 250px;
    max-width: 98%;
    min-height: 150px;
    margin: 0.5%;
    border: solid 0.3rem var(--dark-red);
    border-radius: 30px;
    padding: 0.5%;
}

.submit {
    margin-top: 6%;
    min-height: 20%;
    height: 35px;
    background-color: var(--dark-red);
    color: var(--white);
    font-weight: bold;
    font-size: x-large;

}

/* ----------------- */

.fruites,
.verdures,
.of-dia,
.of-setmana {
    max-width: 80%;
    padding: 0.5%;
    margin: 0.5% auto;
}

.images {
    width: 100%;
}

.images:hover {
    transform: scale(1.5);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~label>img {
    transform: scale(3);
    cursor: zoom-out;
}

.img-rs {
    margin: 1%;
    max-width: 30px;
}

#calendariImg {
    width: 56%;
    margin: 1%;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.receptaCompleta,
.recepta,
.verdura,
.fruita {
    width: 100%;
}

.indexReceptes--card,
.verdures--card,
.fruites--card {
    width: 100%;
    margin: 0.5%;
    border: solid 0.3rem var(--dark-red);
    padding: 0.5%;
}

.recepta-content {
    width: 100%;
}

.receptes,
.resum {
    width: 100%;
}

.ingredients {
    padding-left: 50px;
}

video {
    width: 100%;
}

.imgqui {
    width: 70%;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 0.2rem solid var(--dark-red);
    border-radius: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 0.2rem solid var(--dark-red);
    border-radius: 30px;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: var(--dark-red);
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}